---
- name: MariaDB
  tasks:
    - name: install mariadb
      yum:
        name:
          - mariadb-server
          - python3-PyMySQL
        state: latest
    - name: start mariadb
      service:
        name: mariadb
        enabled: true
        state: started
    - name: mysql_root_password
      mysql_user:
        login_user: root
        login_password: "{{ mysql_root_password }}"
        user: root
        check_implicit_admin: true
        password: "{{ mysql_root_password }}"
        host: localhost
    - name: create DB user
      mysql_user:
        name: admin
        password: "{{ mysql_user_password }}"
        priv: '*.*:ALL'
        host: '%'
        state: present

    
  notify:
    - Restart mariadb
